@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-primary: black;
  --color-header: #6a7282;
  --font-display: "GFS Didot", serif; 
}

.dark {
  --color-background: #1e2939;
  --color-primary: #fff;
  --color-header: #fff;
}