@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #fff;
  --color-primary: black;
  --color-header: #6a7282;
  --font-display: "GFS Didot", serif; 
  --font-header: "BBH Bartle", sans-serif;
}

.dark {
  --color-background: #1e2939;
  --color-primary: #fff;
  --color-header: #fff;
}

/* hide scrollbar but keep scroll */
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}